---
import Contatti from "../components/Contatti.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ListaBottoni from "../components/ListaBottoni.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Riviera Skatepark | San Benedetto del Tronto">
  <Header />

  <main>
    <Hero />

    <Contatti />

    <ListaBottoni />

    <section class="py-8">
      <h1 class="text-2xl m-4" id="tesseramenti">
        <span class="text-blue-500 font-bold">Tesseramenti</span> e <span
          class="text-blue-500 font-bold">Ingressi</span
        >
      </h1>

      <div
        class="text-center grid grid-cols-1 md:grid-cols-3 divide-y md:divide-x md:divide-y-0"
      >
        <div class="p-4 flex flex-col justify-center">
          <p>
            Vuoi venirci a trovare per la <span
              class="text-blue-500 font-medium">prima volta</span
            >?
          </p>
          <p class="line-through opacity-50">Entra al costo di 2 euro</p>
          <p>Per te <span class="font-bold">l'ingresso è gratuito</span>!</p>
        </div>

        <div class="p-4 flex flex-col justify-center">
          <p>
            Per i visitatori <span class="text-blue-500 font-medium"
              >occasionali</span
            >, la quota è di <span class="font-bold">€2/ingresso</span>
          </p>
        </div>

        <div class="p-4 flex flex-col justify-center">
          <p>
            Per i <span class="text-blue-500 font-medium"
              >frequentatori più assidui</span
            >, è necessario tesserarsi all'associazione SBTSK8 al costo di <span
              class="font-bold">€20/anno</span
            >
            (meno di €2 al mese!)
          </p>
          <a
            href="https://drive.google.com/file/d/1jk4vBz_Glr4xiuryGbaYui1JH4EhdHkJ/view"
            target="_blank"
          >
            <button
              class="w-full border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white p-2 rounded-md mt-2"
            >
              Scarica modulo di iscrizione</button
            ></a
          >
        </div>
      </div>
    </section>

    <!-- <ServiziComponent showFullContent={false} /> -->
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
