---
import { Image } from "astro:assets";
import SfondoGradient from "./SfondoGradient.astro";
import Contatti from "./Contatti.astro";
import ListaBottoni from "./ListaBottoni.astro";
---

<section class="flex flex-col justify-center">
  <!-- <div
    style="background: url('/images/home/bg-riviera.jpeg');"
    class="min-h-[50vh] !bg-cover !bg-center"
  ></div> -->

  <div class="overflow-hidden min-h-40">
    <img
      src="/images/home/bg-riviera.jpeg"
      alt=""
      class="h-full w-full scale-150 md:scale-100"
    />
  </div>

  <div class="mx-auto p-4 -mt-8 z-10">
    <p class="bg-white p-4 text-2xl text-center shadow-md">
      Il cuore pulsante della comunità skateboard di <span
        class="text-blue-500 font-bold">San Benedetto del Tronto</span
      >
    </p>
  </div>

  <!-- <div class="relative px-6 pt-14 lg:px-8">
    <SfondoGradient type="all" />
  </div> -->
</section>
